In [1]:
import pandas as pd

In [47]:
arr = [
    [1, 6, 2, 10], 
    [8, 9, 4, 11], 
    [9, 8, 7, 12], 
    [1, 6, 3, 20]]

In [48]:
idx = [0 ,1]

In [63]:
df = pd.DataFrame(arr)

In [64]:
#Define a function that accepts two arguments, the first being a list of list that represents the raw data, 
#and the second being a list of column indices. The return value should be a dictionary with the 
#key being the groups as a tuple and the values should be a list containing the aggregated sums.

In [94]:
df2 = df.groupby(idx).sum()
df2

     2   3
0 1
1 6  5  30
8 9  4  11
9 8  7  12

In [77]:
dictionary = df.groupby(idx).sum().to_dict(orient='index')
dictionary

{(1, 6): {2: 5, 3: 30}, (8, 9): {2: 4, 3: 11}, (9, 8): {2: 7, 3: 12}}

In [82]:
a = df2.values.tolist()
a

[[5, 30], [4, 11], [7, 12]]

In [83]:
b = df2.index.tolist()
b

[(1, 6), (8, 9), (9, 8)]

In [92]:
x = zip(b, a)
print(dict(x))

{(1, 6): [5, 30], (8, 9): [4, 11], (9, 8): [7, 12]}